<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	  	<title>Gnome-content</title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	
	  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- 	  	
 -->	  	<!-- <link rel="stylesheet" href="/css/custom.css"> -->
	</head>
	<body>
		<!-- <div class="jumbotron jumbotron-fluid">
	  		<div class="container" align="left">
	    		<h4 style="color:#007bb6;">GNOME-CONTENT</h4>      
	  		</div>
		</div>
		<div class="container">
		
			<th:block th:include="./_menu"></th:block>  
		
  					<div class="row">
  					
  					<div class="col-sm-12" align="center">
  						<h2 th:utext="${message}"></h2>
  					</div>
  						
  				</div>
		</div> -->
		
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"> <!-- <img class="logo" src="http://bootstrap-ecommerce.com/main/images/logo-white.png" height="40"> --> GNOME CONTENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto"> 
<li class="nav-item active">
<a class="nav-link" href="javscript:void(0)">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item"><a class="nav-link" href="javscript:void(0)"> About </a></li>
<li class="nav-item dropdown">
	<a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Login  </a>
    <ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="/auth/google"> Google</a></li>
	  <li><a class="dropdown-item" href="/auth/facebook"> Facebook </a></li>
	  <li><a class="dropdown-item" href="/auth/linkedin"> LinkedIn </a></li>
    </ul>
</li>
<li class="nav-item">
<a class="nav-link" href="javscript:void(0)">Services</a></li> 
    </ul>
  </div>
</nav>




<div class="container">
        <br> 
    <p>Please Login to view Articles...</p>
</div>
<!-- .//container -->
<div style="margin-top: 570px;">
</div>
<div>
 <article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <br>
<!-- <p><a class="btn btn-warning" target="_blank" href=""> gnomecontent.com  
 <i class="fa fa-window-restore "></i></a></p> -->
</div>
<br><br>
</article>	
</div>	

	</body>
</html>